* {
	box-sizing: border-box;
}

body {
	/*Put Colour below*/
	background: linear-gradient(rgba(0, 221, 250),rgba(0, 117, 250));
	background-size: cover;
	font-family: "Arial", Rounded MT Bold;
	margin-left: auto;
        margin-right: auto;
	position: relative;
        color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-mid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.left {
  display: block;
  margin-right: auto;
  width: 50%;
}

.right {
  display: block;
  margin-left: auto;
  width: 50%;
}

.footer {
  position: absolute;
  bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}

.right-side {
  float: right;
  padding: 5px;
  width: 90%;
}

.left-side {
  float: left;
  padding: 5px;
  width: 90%;
}
